In [1]:
import pandas as pd

In [7]:
dp=pd.read_csv(r'C:\Users\TEJAL POWAR\Desktop\APC-PYTHON(Lab)\weather_report.csv')
dp

   Day Weather  Temperature  Wind  Humidity
0  Mon   Sunny        12.79    13        30
1  Tue   Sunny        19.67    28        96
2  Wed   Sunny        17.51    16        20
3  Thu  Cloudy        14.44    11        22
4  Fri  Shower        10.51    26        79
5  Sat  Shower        11.07    27        62
6  Sun   Sunny        17.50    20        10

In [8]:
dp.head()

   Day Weather  Temperature  Wind  Humidity
0  Mon   Sunny        12.79    13        30
1  Tue   Sunny        19.67    28        96
2  Wed   Sunny        17.51    16        20
3  Thu  Cloudy        14.44    11        22
4  Fri  Shower        10.51    26        79

In [9]:
dp.tail()

   Day Weather  Temperature  Wind  Humidity
2  Wed   Sunny        17.51    16        20
3  Thu  Cloudy        14.44    11        22
4  Fri  Shower        10.51    26        79
5  Sat  Shower        11.07    27        62
6  Sun   Sunny        17.50    20        10

In [10]:
dp.describe()

       Temperature       Wind   Humidity
count     7.000000   7.000000   7.000000
mean     14.784286  20.142857  45.571429
std       3.531666   7.010197  33.285919
min      10.510000  11.000000  10.000000
25%      11.930000  14.500000  21.000000
50%      14.440000  20.000000  30.000000
75%      17.505000  26.500000  70.500000
max      19.670000  28.000000  96.000000

In [17]:
dp.shape

(7, 5)

In [19]:
dp.info

<bound method DataFrame.info of    Day Weather  Temperature  Wind  Humidity
0  Mon   Sunny        12.79    13        30
1  Tue   Sunny        19.67    28        96
2  Wed   Sunny        17.51    16        20
3  Thu  Cloudy        14.44    11        22
4  Fri  Shower        10.51    26        79
5  Sat  Shower        11.07    27        62
6  Sun   Sunny        17.50    20        10>